{% extends 'base.html' %}

{% block title %} 
<title>
    Contact
</title>
{% endblock %}

{% block header %}
<h1>Contact me</h1>
{% endblock %}


{% block content %} 
<form action="mailto:lemaerick6@gmail.com">
	<div class="form-group">
	  <label for="exampleFormControlInput1">
		  Email address
		</label>
	  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
	</div>
	<div class="form-group">
		<label for="exampleFormControlTextarea1">
			Enter Message
		</label>
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	  </div>
</form>

<footer>
	<div class="footer-copyright text-center py-3">© 2020 Copyright
	  </div>
</footer>

{% endblock %}