.Summary{
    border:2px solid black;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.E{
    padding-right:10px;
}
.Ambitions{
    border:2px solid black;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
}
.experiences{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
}
.SA{
    margin:30px 0;
    
}
#exp{
    margin-top:50px;
}
.contact{
    margin-top:50px;
}
#title{
    margin-left:70px;
}
.jumbotron{
    text-align: center;
}
a{
    text-decoration: none;
    color:white;
}
a:hover{
    text-decoration: none;
    color:white;}
.btn:hover{
    zoom:1.03;
}


