<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Boostrap CSS cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!--css stylesheet-->
    <link rel="stylesheet" text="text/css" href="{{ url_for('static', filename='main.css')}}">

    <!--Title-->
    {% block title %}
        {% if title %}
            <title>Portfolio -{{title}}</title>
            {% else %}
            <title>Portfolio</title>
        {% endif %}
    {% endblock %}
    
</head>
<body>
    <!--Navbar component -->
    {% include "/include/_navbar.html" %}

    <!--Jumbotron-->
    <div class="jumbotron">
        {% block header %} {% endblock %}
    </div>
    

    <!--main content-->
    <div class="container">
        {% block content %} {% endblock %}
    </div>


    <!-- Copyright -->
    

    <!--Boostrap JS cdn -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
</body>
</html>