
{% extends 'base.html' %}

{% block title %}
<title>Portfolio: Erick Meikoki</title>
{% endblock %}


{% block header %} 
<h1>
    An interactive design expert and developer.
</h1>

{% endblock %}

{% block content %}
<div class="SA">
    <div class="Summary">
        <h3>Summary</h3>
        I am a web developer with a passion for coding. I am familiar with both front end and back end technologies. I have experience building landing pages and full stack web applications. 
    </div>
    <div class="Ambitions">
        <h3>Ambitions</h3>
        I look forward to using code to bring more ideas to life, gain more corporate experience and acquaint myself with more technologies pertinent to web development
    </div>
</div>


<h2 id="exp">Experiences</h2>
<hr />
<div class="experiences">
    <div class="E">
        <h3>Web Designer</h3>
        <h5>Joy Geomar Non profit (Nairobi, Kenya)</h5>
        <h6>(10/2019 to 12/2020)</h6>
        <hr />
        <p>Created a three-page website for an elementary school using HTML, JavaScript and Bootstrap frameworks. Implemented server-side rendering for the website using NodeJS, consequently increasing donor funding for the
        school by 25% and enrollment by 125%. Also styled the website using CSS, AnimateCSS and Bootstrap.</p>
        <button class="btn btn-primary text-white-50"><a href="https://github.com/erickwithack/github.io">Link to code</a></button>
    </div>
    <div class="E">
        <h3>Javascript Developer</h3>
        <h5>Zero to Mastery Camp (Evanston, IL)</h5>
        <h6>01/2020 to 02/2020</h6>
        <hr />
        <p>Created a Keeper app clone using React JS, basic HTML and CSS. Collaborated with a team of computer science students in creating web page components and implemented update, delete and edit functions.</p>

        <button class="btn btn-primary text-white-50"><a href="https://github.com/erickwithack/REactKeeperApp">Link to code</a></button>
        
    </div>
    <div class="E">
        <h3>Python Developer</h3>
        <h5>Segal Design Institute (Evanston, IL)</h5>
        <h6>01/2020 to 03/2020</h6>
        <hr />
        <p>Created a website for a hand extender prototype for patients who have had a stroke using Flask Python and Bootstrap and increased sales for hand extender machines by 40%. Collaborated with a team of front-end engineers at Segal, made revisions to the website and coordinated version control using GitHub.</p>
        <button class="btn btn-primary text-white-50"><a href="https://github.com/erickwithack/finalreport.io">Link to code</a></button>
    </div>


</div>

<div class="contact">
    {% include "/include/_contact.html" %}
</div>

{% endblock %}

